@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    display: flex;
    margin: 0;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    align-items: center;
}

.container{
    display: flex;
    width: 90vw;
}